{% extends 'base.html' %}
{% load static %}


<!-- This is uses to menu selection-->
<!-- This is uses to menu selection-->
{% block menu %}

{%  endblock %}

<!-- End Header -->
{% block content %}
<header class="header js-header-scroll">
    <nav hidden>
        <div class="nav-header">
            <a href="{% url 'home' %}" class="brand">
                <img src="{% static 'brand/logo.png' %}" style="margin:-12px;" class="logo" alt="OneViro"/>
            </a>
            <button class="toggle-bar">
                <span class="fa fa-bars"></span>
            </button>
        </div>
        <!-- Start Header menu for mobile -->
        <div class="header__mobile js-header-menu">
            <a href="#" class="header__mobile-brand">Menu</a>
            <button class="toggle-bar header__mobile-toggle">
                <span class="fa fa-remove"></span>
            </button>
        </div>
        <!-- End Header menu for mobile -->
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about-us' %}">About OneViro</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'career' %}">Career</a></li>
            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>

        </ul>

    </nav>
</header>

<!-- Start breadcrumb -->
<section class="innerpage__head mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
        </ol>
    </div>
</section>
<!-- End breadcrumb -->

<!-- Start Section -->
<section class="section section__contact p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-4 js-match-height">
                <div class="contact__main">
                    <h2 class="section__heading">Contact us</h2>
                    <!--                        <p>Sed in everti deleniti qualisque. Eum epicurei disputando te. Vero veri et qui, quis reque eu eos. <a href="#">Has modo vituperatoribus in</a>, dicunt neglegentur ea vis. Cu nibh tamquam mea, causae suscipit splendide no mei.</p>-->
                    <form class="row">
                        <div class="col-md-6 form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your full name">
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="emal">Email address</label>
                            <input type="email" class="form-control" id="emal" aria-describedby="emal"
                                   placeholder="Enter your email address">
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="subject">Subject</label>
                            <select class="form-control js-select" id="subject" aria-describedby="subject"
                                    placeholder="Select subject">
                                <option></option>
                                <option value="1">Buy Template</option>
                                <option value="3">Marketing</option>
                                <option value="4">Licence</option>
                                <option value="5">Support</option>
                                <option value="5">Other subject</option>
                            </select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="comment">Comment</label>
                            <textarea class="form-control" id="comment" aria-describedby="comment" rows="8">Enter your comments</textarea>
                        </div>

                        <div class="col-md-12 form-action">
                            <button type="submit" class="btn btn-primary btn-rounded">Sand a message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 js-match-height">
                <aside class="aside__left contact__aside">
                    <div class="contact__aside--content">
                        <div class="contact__aside--widget">
                            <h5 class="contact__aside--widget-title"><i class="fa fa-home"></i> Office address</h5>
                            <p>Surat, Gujarat</p>
                        </div>
                        <div class="contact__aside--widget">
                            <h5 class="contact__aside--widget-title"><i class="fa fa-phone"></i> Phone number</h5>
                            <p>+91 8980881427</p>
                        </div>
                        <div class="contact__aside--widget">
                            <h5 class="contact__aside--widget-title"><i class="fa fa-envelope"></i> Email address</h5>
                            <p>info@Oneviro.com</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Start Section -->
<section class="section section__cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!--                    <h2>Need help's... Feel fee to contact us</h2>-->
                <!--                    <a href="#" class="btn btn-white btn-rounded btn-lg btn-icon-right">Get in touch <i class="fa fa-long-arrow-right"></i></a>-->
            </div>
        </div>
    </div>
</section>
<!-- End Section -->


{% endblock %}
